body {
    background-color: lightblue !important;
}

table {
    table-layout: fixed;

    border-collapse: separate !important;
}

.calendar_days {
    width: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* otherwise calendar starts flickering when hovering through days */
    border: 2px solid transparent;
    border-radius: 100px;
}

.prev_month {
    opacity: 0.5;
}

.next_month {
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

.calendar_nav_btn {
    cursor: pointer;
    font-size: 40px !important;
}

.calendar_month {
    font-size: 40px !important;
}

#calendar_date {
    font-size: 35px !important;
    margin-top: 20px;
}

#calendar_day {
    font-size: 30px !important;
}

#calendar_events {
    font-size: 20px !important;
    margin-left: 20px;
}

.input_title {
    font-size: 35px !important;
}

.cur_viewed_day {
    border: 2px solid lightgray;
    border-radius: 100px;
}

.calendar_days:hover {
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 100px;
}

.change_date_form_field {
    width: 100% !important;
}

.calendar_container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
}

.additional_inputs_container {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
}